<section class="registration">
    <div class="container">
        <div class="registration__form" id="signup">

        </div>
    </div>
</section>

<form action="/admin/user/edit/<%=user.id %>?_method=PUT" method="post">

    <% if(typeof error !=="undefined" ){ %>
        <%error.forEach(errors=>{%>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p>
                    <%= errors.msg %>
                </p>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <% }) %>
                <% } %>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form__input">
                                <input type="text" class="form-control" placeholder="First name"
                                    value="<%=user.firstName  %> " name="firstName" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form__input">
                                <input type="text" class="form-control" placeholder="Last name" name="lastName"
                                    value="<%=user.lastName  %> " />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form__input">
                                <input type="text" class="form-control" value="<%=user.email  %> "
                                    placeholder="Email Address" name="email" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form__input">
                                <input type="tel" class="form-control" placeholder="Enter your phone number"
                                    name="phone" value="<%=user.phone  %> " />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form__input">
                                <input type="course" class="form-control" placeholder="Select a Course of Choice"
                                    name="course" value="<%=user.course  %> " />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form__input">
                                <input type="text" class="form-control" placeholder="Enter your mintyn bank Account No"
                                    name="acct_No" value="<%=user.acct_No  %> " />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form__submit pt-2">
                                <button class="common-btn w-100" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
</form>