<div class="users-data">
    <table>
        <tbody>
            <tr>
                <th>S/n</th>
                <th>Fisrt Name</th>
                <th>last Name</th>
                <th>email</th>
                <th>phone</th>
                <th>Acct No</th>
                <th>Course</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>

            <tr>
                <% users.forEach((user, index)=> { %>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= user.firstName %>
                    </td>
                    <td>
                        <%= user.lastName %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.phone %>
                    </td>
                    <td>
                        <%= user.acct_No %>
                    </td>
                    <td>
                        <%= user.course %>
                    </td>
                    <td>
                        <form action="/admin/user/edit/<%=user.id%>">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/admin/user/<%=user.id %>?_method=DELETE ">
                            <button onclick="return confirm('are you sure you want to delete')">Del</button>
                        </form>
                    </td>
                    <% }) %>
            </tr>
        </tbody>
    </table>

</div>
<div class="download-info">
    <form action="/admin/users" method="post">
        <button type="submit">Download Pdf</button>
    </form>
</div>